<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44439684334-uotpnk984p96q7ks2cbcci5kqll2c8f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44439684334-uotpnk984p96q7ks2cbcci5kqll2c8f1</string>
	<key>API_KEY</key>
	<string>AIzaSyBtR6ZaDPDB2H3Dn2wSSDl2gM15DQrOypU</string>
	<key>GCM_SENDER_ID</key>
	<string>44439684334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demoProjrct.LogInOut</string>
	<key>PROJECT_ID</key>
	<string>loginout-9ed5d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginout-9ed5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:44439684334:ios:89aacf09d555d08f0c5fff</string>
	<key>DATABASE_URL</key>
	<string>https://loginout-9ed5d-default-rtdb.firebaseio.com</string>
</dict>
</plist>
